In [47]:
import pandas as pd

In [48]:
df=pd.read_csv("heart.csv")

In [49]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [50]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [51]:
df.shape

(918, 12)

In [52]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [53]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [54]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [55]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [56]:
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [57]:
df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [58]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [59]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [60]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [61]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3.shape

(902, 12)

In [62]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [63]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [64]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [65]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [66]:
df4=df3.copy()

In [67]:
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [68]:
df4.RestingECG.replace(
    {
    'Normal' : 1,
    'ST' : 2,
    'LVH' : 3  
    },
    inplace=True 
)

In [69]:
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,1,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,2,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,1,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,1,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,1,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,1,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,1,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,3,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,1,173,N,0.0,Up,0

In [70]:
df4.ChestPainType.replace(
    {
        'ATA' : 1,
        'NAP' : 2,
        'ASY' : 3,
        'TA' :4
    },
    inplace=True
)

In [71]:
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,1,140,289,0,1,172,N,0.0,Up,0
1,49,F,2,160,180,0,1,156,N,1.0,Flat,1
2,37,M,1,130,283,0,2,98,N,0.0,Up,0
3,48,F,3,138,214,0,1,108,Y,1.5,Flat,1
4,54,M,2,150,195,0,1,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,4,110,264,0,1,132,N,1.2,Flat,1
914,68,M,3,144,193,1,1,141,N,3.4,Flat,1
915,57,M,3,130,131,0,1,115,Y,1.2,Flat,1
916,57,F,1,130,236,0,3,174,N,0.0,Flat,1
917,38,M,2,138,175,0,1,173,N,0.0,Up,0

In [72]:
df4.ExerciseAngina.replace(
    {
        'N' :1,
        'Y' :2
    },
    inplace=True
)

In [73]:
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,1,140,289,0,1,172,1,0.0,Up,0
1,49,F,2,160,180,0,1,156,1,1.0,Flat,1
2,37,M,1,130,283,0,2,98,1,0.0,Up,0
3,48,F,3,138,214,0,1,108,2,1.5,Flat,1
4,54,M,2,150,195,0,1,122,1,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,4,110,264,0,1,132,1,1.2,Flat,1
914,68,M,3,144,193,1,1,141,1,3.4,Flat,1
915,57,M,3,130,131,0,1,115,2,1.2,Flat,1
916,57,F,1,130,236,0,3,174,1,0.0,Flat,1
917,38,M,2,138,175,0,1,173,1,0.0,Up,0

In [74]:
df4.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [75]:
df4.ST_Slope.rename(
    {
        'Up':0,
        'Flat' :1,
        'Down' :2
    },
    inplace=True
)

In [76]:
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,1,140,289,0,1,172,1,0.0,Up,0
1,49,F,2,160,180,0,1,156,1,1.0,Flat,1
2,37,M,1,130,283,0,2,98,1,0.0,Up,0
3,48,F,3,138,214,0,1,108,2,1.5,Flat,1
4,54,M,2,150,195,0,1,122,1,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,4,110,264,0,1,132,1,1.2,Flat,1
914,68,M,3,144,193,1,1,141,1,3.4,Flat,1
915,57,M,3,130,131,0,1,115,2,1.2,Flat,1
916,57,F,1,130,236,0,3,174,1,0.0,Flat,1
917,38,M,2,138,175,0,1,173,1,0.0,Up,0

In [77]:
df5=pd.get_dummies(df4,drop_first=True)

In [78]:
df5

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,Sex_M,ST_Slope_Flat,ST_Slope_Up
0,40,1,140,289,0,1,172,1,0.0,0,True,False,True
1,49,2,160,180,0,1,156,1,1.0,1,False,True,False
2,37,1,130,283,0,2,98,1,0.0,0,True,False,True
3,48,3,138,214,0,1,108,2,1.5,1,False,True,False
4,54,2,150,195,0,1,122,1,0.0,0,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,4,110,264,0,1,132,1,1.2,1,True,True,False
914,68,3,144,193,1,1,141,1,3.4,1,True,True,False
915,57,3,130,131,0,1,115,2,1.2,1,True,True,False
916,57,1,130,236,0,3,174,1,0.0,1,False,True,False
917,38,2,138,175,0,1,173,1,0.0,0,True,False,True

In [79]:
df5.columns

Index(['Age', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'HeartDisease',
       'Sex_M', 'ST_Slope_Flat', 'ST_Slope_Up'],
      dtype='object')

In [80]:
df5.HeartDisease.head()

0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [81]:
x=df5.drop(['HeartDisease'],axis='columns')

In [82]:
y=df5.HeartDisease

In [83]:
x

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,Sex_M,ST_Slope_Flat,ST_Slope_Up
0,40,1,140,289,0,1,172,1,0.0,True,False,True
1,49,2,160,180,0,1,156,1,1.0,False,True,False
2,37,1,130,283,0,2,98,1,0.0,True,False,True
3,48,3,138,214,0,1,108,2,1.5,False,True,False
4,54,2,150,195,0,1,122,1,0.0,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,4,110,264,0,1,132,1,1.2,True,True,False
914,68,3,144,193,1,1,141,1,3.4,True,True,False
915,57,3,130,131,0,1,115,2,1.2,True,True,False
916,57,1,130,236,0,3,174,1,0.0,False,True,False
917,38,2,138,175,0,1,173,1,0.0,True,False,True

In [84]:
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 902, dtype: int64

In [85]:
from sklearn.preprocessing import StandardScaler

In [86]:
scaler=StandardScaler()

In [87]:
x_scaler=scaler.fit_transform(x)

In [88]:
x_scaler

array([[-1.42896269, -1.6990351 ,  0.46089071, ...,  0.51485643,
        -1.00221976,  1.13805334],
       [-0.47545956, -0.52558207,  1.5925728 , ..., -1.94228905,
         0.99778516, -0.87869344],
       [-1.74679706, -1.6990351 , -0.10495034, ...,  0.51485643,
        -1.00221976,  1.13805334],
       ...,
       [ 0.37209878,  0.64787097, -0.10495034, ...,  0.51485643,
         0.99778516, -0.87869344],
       [ 0.37209878, -1.6990351 , -0.10495034, ..., -1.94228905,
         0.99778516, -0.87869344],
       [-1.64085227, -0.52558207,  0.3477225 , ...,  0.51485643,
        -1.00221976,  1.13805334]])

In [89]:
from sklearn.model_selection import train_test_split

In [90]:
x_train,x_test,y_train,y_test=train_test_split(x_scaler,y,test_size=0.3,random_state=10)

In [91]:
len(x_train)

631

In [92]:
x_test.shape

(271, 12)

In [93]:
from sklearn import svm

In [94]:
clf = svm.SVC()

In [95]:
clf.fit(x_test,y_test)

SVC()

In [96]:
clf.score(x_train,y_train)

0.8652931854199684

In [97]:
from sklearn.model_selection import cross_val_score

In [99]:
scores=cross_val_score(svm.SVC(),x,y,cv=5)

In [100]:
scores

array([0.62430939, 0.80110497, 0.68888889, 0.72777778, 0.61666667])

In [101]:
scores.mean()

0.6917495395948434

In [102]:
from sklearn.ensemble import BaggingClassifier

In [103]:
bag_model=BaggingClassifier(
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)

In [104]:
scores=cross_val_score(bag_model,x,y,cv=5)

In [105]:
scores

array([0.87845304, 0.82320442, 0.82222222, 0.78333333, 0.72777778])

In [106]:
scores.mean()

0.8069981583793739

In [109]:
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(random_state=0), x, y, cv=5)
scores.mean()

0.7460466543891958

In [110]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(random_state=0), 
    n_estimators=100, 
    max_samples=0.9, 
    oob_score=True,
    random_state=0
)

scores = cross_val_score(bag_model, x, y, cv=5)
scores.mean()

c:\MinGW\python32\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
c:\MinGW\python32\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
c:\MinGW\python32\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
c:\MinGW\python32\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
c:\MinGW\python32\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.8036832412523021